@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color-light: #fff;
    --secondary-color-light: #e6e6e6;
    --text-input-color-light: #f3f3f3;
}


body {
    background-color: var(--secondary-color-light);

}   

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    list-style-type: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color-light);
    width: 480px;
    border-radius: 8px;
    padding: 2rem;

}

.task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-app {
    display: flex;
    flex-direction: column
}

.list-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

#completed-task {
    text-decoration: line-through;
}

.txt-input {
    font-size: 1.25rem;
    border: none;
    border-radius: 4px;
    background-color: var(--text-input-color-light);
    padding: 0.25rem;
    margin-right: 0.25rem;
}

.txt-input:focus {
    outline: none;
}
